{% extends 'dachor_website/base.html' %}

{% block content %}

    <h1>Wir über uns!</h1>

    <h3 class='text-center'>bunt — offen — jung</h3>
    <p>
        Der DA!CHOR besteht seit 2010 und hat immer wieder große und kleine Veränderungen durchgemacht. Was uns
        ausmacht? Wir sind eine Gruppe Menschen mit Freude am Singen, die Lust haben gemeinsam etwas auf die Beine zu
        stellen. Dabei sind wir immer und für alle offen, denen es auch so geht. Wir mögen es divers, jung(geblieben)
        und dynamisch.
    </p>

    <h3 class='text-center'>gut gelaunt — freundschaftlich — locker</h3>
    <p>
        Einmal pro Woche kommen wir zum Singen zusammen. Wir haben Freude daran, Stücke zu erarbeiten und Auftritte
        vorzubereiten, aber am wichtigsten ist es uns, dass alle dabei Spaß haben. Darum proben wir in lockerer
        Atmosphäre, unternehmen auch außerhalb davon was gemeinsam oder haben in "gemütlichen Proben" Gelegenheit zu
        Schwätzen, Essen und kreativ zu sein.
    </p>

    <h3 class='text-center'>klangvoll — abwechslungsreich — motiviert</h3>
    <p>
        Musikalisch probieren wir uns immer wieder gerne an etwas Neuem. Von klassischen A cappella Sätzen bis
        selbstgestalteten Rock- oder Punkliedern ist alles dabei. Die Liedvorschläge kommen aus dem Chor heraus und ein
        Team von motivierten Mitglieder studiert sie mit dem Chor gemeinsam ein. Abwechslung ist sicher, und
        ausgeschlossen ist nichts. Viele unserer Lieder sind ohne oder mit wenig Begleitung (Klavier, Gitarre,...)
        gestaltet und auch mit wenig Erfahrung zu meistern. Vorschläge hören wir immer gern!
    </p>

{% endblock %}