<!DOCTYPE html>
<html lang="de" class='h-100'>

{# make static files accessible #}
{% load static %}

{# load bootstrap tag library #}
{% load bootstrap4 %}

{# load static file compression #}
{% load compress %}

<head>
    <meta charset="utf-8">

    {# load Bootstrap CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='no' %}

    {% block title %}<title>DA!CHOR</title>{% endblock %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    {% endcompress %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

</head>

<body class="d-flex flex-column h-100">

<!-- Navigation -->
{% block navbar %}
    {% include "dachor_website/navbar.html" %}
{% endblock %}

<!-- Page Content -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Footer -->
{% block footer %}
    {% include "dachor_website/footer.html" %}
{% endblock %}

</body>
</html>
