{% extends 'dachor_website/base.html' %}

{% block content %}

    <h1>Auftritte</h1>

    <p>Der DA!CHOR singt, weil wir Spaß daran haben. Da es uns aber auch Freude bereitet, gelegentlich einen Anreiz zu
        haben unser musikalisches Niveau herauszufordern, und zu sehen, dass unsere Musik anderen Menschen Freude macht,
        führen wir auch immer wieder auf, was wir zwischendurch proben. Wenn ihr uns hören wollt: Haltet die Augen
        nach Ankündigungen (zum Beispiel auf der Startseite) offen! Verschiedene Arten von Auftritten haben es
        über die letzten Jahre immer wieder in unseren Terminplan geschafft:</p>

    <h3>Kleinkunstabend (KKA)</h3>
    <p>Ein Abend voller Musik; alle Richtungen, alle Freund*innen, alles erlaubt, solange wir Spaß haben! 2012 hat der
        DA!CHOR seinen ersten KKA veranstaltet. Zu diesem Event haben wir seitdem fast jeden Sommer wieder eingeladen.
        Alle, die uns kennen, können gerne ihre eigene Art von Musik beitragen, in 10-15 Minuten, damit wir möglichst
        viele Acts hören und sehen können. Auch der Chor gibt natürlich einen Auszug seines Repertoires zum Besten! Der
        Eintritt ist frei, eine Kleinigkeit zu Essen gibt es auch, und um Spenden für die entstandenen Kosten wird
        gebeten. Zu Gast waren wir bereits inm nr30, im Theater im Pädagog (TiP) und bei der MGA.</p>


    <h3>Spendensingen (im Luisencenter)</h3>
    <p>In der Weihnachtszeit kommt ein Dienstagabend, an dem im Luisencenter ungewohnte Klänge zu hören sind! Der
        DA!CHOR möchte gute Laune und weihnachtliche Stimmung verbreiten, und singt alles von klassischen "Christmas
        Carols" über "African Traditionals" bis Pop-Hits. Dabei gehen wir mit dem Hut umher–und sammeln Spenden. Jedes
        Jahr wählen wir einen anderen regionalen, und meist nicht staatlich geförderten guten Zweck, der Unterstützung
        gut gebrauchen kann. Lasst es klingeln! Hoffentlich verschlägt es uns mit dem gleichen Ziel auch mal zu anderen
        Jahreszeiten an andere Orte.</p>

    <h3>Konzerte</h3>
    <p>Der Sommerauftritt 2018 war etwas ganz Besonderes: <i>DA!CHOR goes Concert!</i> In St. Elisabeth haben wir unser
        erstes abendfüllendes Konzert gesungen. Von vorne bis hinten DA!CHOR! Und wir waren von der Resonanz so
        begeistert, dass wir 2019 am Osthang mit <i>DA!CHOR &amp; Friends</i> gleich weitergemacht haben. Das waren
        wundervolle Abende, eine Nachfolge sollte man sich nicht entgehen lassen. </p>

    <h3>Physik-/Mathemusikabend</h3>
    <p>Auch an der TU Darmstadt kommt Musik zum Glück nicht zu kurz. Im Großen Physikhörsaal wird je einmal im Semester
        eingeladen zum Mathemusikabend und zum Physikmusikabend. Jeder dieser Abende ist bunt, musikalisch und ein
        bisschen anders. Wenn uns der Termin passt, sind wir immer gerne dabei!</p>

    <h3>Gottesdienste</h3>
    <p>Der DA!CHOR probt seit Langem in den Räumen der KHG Darmstadt. Als Dank für diese Gastfreundschaft freuen wir
        uns ein paar Mal pro Semester einen Gottesdienst in St. Ludwig oder in der Josefskapelle musikalisch zu
        untermalen.</p>


{% endblock %}