<footer class="footer mt-auto">
    <div class="container">
        <div class="hline"></div>
        <div class="hline"></div>
        <div class="hline"></div>
        <div class="hline"></div>

        <div class="text-center py-3">
            <a href="{% url "website:contact" %}">Kontakt</a> |
            <a href="{% url "website:impress" %}">Impressum</a> |
            <a href="{% url "website:privacy" %}">Datenschutz</a>
            <span class="text-muted">© 2020-2022 DA!CHOR Darmstadt</span>
        </div>
    </div>
</footer>
