{% extends 'dachor_website/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h1>WILLKOMMEN BEIM DA!CHOR !</h1>
        <div class="row">
            <div class="col-md-7 text-center my-auto">
                <p>
                    bunt — musikalisch — aufgeweckt
                </p>
                <p class="text-justify">
                    Wir sind der DA!CHOR Darmstadt, eine bunte Mischung an Menschen die Spaß am Singen haben. Wir singen
                    meist a cappella oder mit wenig Begleitung aus einer breiten Vielfalt von Richtungen, proben
                    einmal pro Woche und freuen uns immer neue Gesichter zu sehen. Bei Interesse erreicht man uns am
                    Besten per E-Mail!
                </p>
                <p>
                    <img
                            src="{% static "img/DACHOR_Note-weiss.large.png" %}"
                            alt="Note"
                            height="50rem"
                    />
                </p>
            </div>
            <div class="col-md-5 border-left">
                <img
                        src="{% static "img/dachor-2018.jpg" %}"
                        alt="DA!CHOR 2018"
                        class="img-fluid"
                />
            </div>
        </div>
    </div>
{% endblock %}
