{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-md fixed-top-sm justify-content-start navbar-dark">
        <a href="/" class="navbar-brand">
            <img
                    src="{% static "img/DACHOR_Logo-weiss.small.png" %}"
                    alt="DA!CHOR"
                    class="img-fluid"
            />
        </a>
        <ul class="navbar-nav ml-auto flex-row">
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url "website:password_change" %}">Passwort ändern</a>
                    <a class="dropdown-item" href="{% url "website:logout" %}">Logout</a>
                  </div>
                </div>
            {% else %}
                <li class="nav-item nav-button">
                    <div class="d-none d-sm-block">
                        <a class="nav-link {{ login }}" href="{% url "website:login" %}">Anmelden</a>
                    </div>
                    <div class="d-block d-sm-none">
                        <a class="nav-link {{ login }}" href="{% url "website:login" %}">Login</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="hline"></div>
    <div class="hline"></div>
    <div class="hline"></div>
    <div class="hline"></div>

    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link {{ homepage }}" href="{% url "website:homepage" %}">STARTSEITE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ about }}" href="{% url "website:about" %}">ÜBER UNS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ events }}" href="{% url "website:events" %}">AUFTRITTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ contact }}" href="{% url "website:contact" %}">KONTAKT</a>
                </li>
            </ul>
            <div class="d-block d-md-none nav-collapse-lines">
                <div class="hline"></div>
                <div class="hline"></div>
                <div class="hline"></div>
                <div class="hline"></div>

            </div>
        </div>
    </nav>
    <div class="d-none d-md-block">
        <div class="hline"></div>
        <div class="hline"></div>
        <div class="hline"></div>
        <div class="hline"></div>
    </div>
</div>
