SECRET_KEY = ''

HOSTS = []

DB_NAME = ''
DB_USER = ''
DB_PASSWORD = ''

# Addresses of all admins of this instance that will receive mail notifications
MAIL_ADMINS = []
# Address to send from
MAIL_SERVER_ADDRESS = ''
# SMTP Server Details
MAIL_HOST = ''
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_HOST_USER = ''
MAIL_HOST_PASSWORD = ''
