name: Django CI workflow

on: [ push, pull_request, workflow_dispatch ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache dependency
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup python environment
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Check Python version
        run: python --version

      - name: Setup
        run: ./Utils/setup.sh

      - name: Static tests
        env:
          PYTHONWARNINGS: all
        run: ./Utils/check.sh

      - name: Run Tests
        run: ./Utils/test.sh
